.containerRegistrati {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 400px;
  padding: 20px;
  height: 350px;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.login-btn {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.registrazione-card {
  width: 400px;
}
.register-btn {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.lblRouterLink {
  text-decoration: none;
  font-size: 12pt;
  transition: font-size 0.3s ease, color 0.3s ease; /* Aggiungo una transizione per un effetto più fluido */
}

.lblRouterLink:hover {
  font-size: 14pt;
  color: crimson;
}

.dataPicker{
  margin-top: 5px;
}