.containerRegistrati {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginCard {
  width: 400px;
  padding: 20px;
  height: 320px !important;
  margin: 0 auto;
  max-width: 90vw !important;
}

.title {
  font-size: 40pt;
  text-align: center;
  margin-bottom: 20px;
}

.login-btn {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.registrazione-card {
  width: 400px;
}
.register-btn {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.lblRouterLink {
  text-decoration: none;
  font-size: 12pt;
  transition: font-size 0.3s ease, color 0.3s ease; /* Aggiungo una transizione per un effetto più fluido */
}

.lblRouterLink:hover {
  font-size: 14pt;
  color: crimson;
}

.dataPicker{
  margin-top: 5px;
}
/* Stile del corpo della pagina */
body {
  background-color: #f8f9fa; /* Bianco fumo */
  color: #343a40; /* Nero */
  font-family: Arial, sans-serif; /* Font predefinito */
}

/* Stile della barra di navigazione */
.navbar {
  background-color: #343a40; /* Nero */
  color: #ffffff; /* Bianco */
}

/* Stile del footer */
.footer {
  background-color: #343a40; /* Nero */
  color: #ffffff; /* Bianco */
}

/* Stile delle card che visualizzano le auto */
.card {
  background-color: #ffffff; /* Bianco */
  color: #343a40; /* Nero */
  border: 1px solid #e9ecef; /* Grigio chiaro */
}

/* Stile del testo */
.text {
  color: #343a40; /* Nero */
}

/* Stile dei pulsanti */
.button {
  background-color: #dc3545; /* Rosso */
  color: #ffffff; /* Bianco */
}

/* Stile dei link */
.link {
  color: #ffc107; /* Oro */
}
